{% extends "layout.html" %}

{% block title %}
    {{book.title}} 
{% endblock %}

{% block body %}
    <h1>User is: {{ username }} </h1> 

    <ul>
        <li>Author: {{ book.book_author|tojson }}</li>
        <li>Title: {{ book.book_title|tojson }}</li>
        <li>ISBN: {{ book.book_isbn|tojson }} </li>
    </ul>

    <h2> Add a Review! </h2>
    <form action="{{ url_for('review') }}" method="post">
        <input type="hidden" name="username" value= {{ username }}>
        <input type="hidden" name = "bookisbn" value = {{ book.book_isbn|tojson }}>
        <div class="form-group">
            <textarea name="review" placeholder="your review"></textarea>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary">Submit review!</button>
        </div>

    </form>

    <h2>Reviews</h2>
    <table style="width:100%">
        <tr>
            <th>Username</th>
            <th>Review</th>
        </tr>
        {% for review in reviews %}
            <tr>
                <td> {{review.username }} </td>
                <td> {{review.review}} </td>
            </tr>
        {% endfor %}
    <ul>
        
    </ul>


{% endblock %}
