{% extends "layout.html" %}

{% block title %}
    {{book.title}} 
{% endblock %}

{% block body %}
    <h1>User is: {{ username }} </h1> 

    <ul>
        <li>Author: {{ book.author }}</li>
        <li>Title: {{ book.title }}</li>
        <li>ISBN: {{ book.isbn}} </li>
    </ul>

    <h2>Reviews</h2>
    <table style="width:100%">
        <tr>
            <th>Username</th>
            <th>Review</th>
        </tr>
        {% for review in reviews %}
            <td> {{review.username }} </td>
            <td> {{review.review}} </td>
        {% endfor %}
    <ul>
        
    </ul>


{% endblock %}
